@import './base.css';

#app, #body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#html {
  background-color: rgba(254, 254, 254, 1);
}

#header-canvas {
  width: 100% !important;
  z-index: -1;
  position: absolute;
}

img, a {
  -webkit-user-drag: none;
}